DEFAULT_NETWORK=BSC
IS_GCLOUD=false
IS_PROD=true
PORT=8102
REDIS_CONNECTION_STRING="redis://:123456@localhost:6380/0"
STAKE_CACHE_SECONDS=900
POSTGRES_CONNECTION_STRING="postgres://postgres:123456@localhost:5432/blockchain"
SCHEDULER_INTERVAL_SEC=[2,30]
JUMP_TO_LATEST_BLOCK=true
USE_SUBSCRIBER_ONLY=false
BLOCKCHAIN_CENTER_API="http://localhost:8107"
LOG_NAME=
LOG_REMOTE_HOST=
ENABLE_REQUEST_LOGGING=false