IS_GCLOUD=false
IS_PROD=false
PORT=9120
ALLOWED_DOMAINS=""
IS_MARKET_OPEN=true
TRANSACTION_TIMEOUT=60
CHECK_INTERVAL=1

REDIS_CONNECTION_STRING="redis://@localhost:6379/0"
POSTGRES_CONNECTION_STRING="postgres://postgres:123456@localhost:5432/bombcrypto"

JWT_BEARER_SECRET="your_server_login_token"

LOG_NAME=
LOG_REMOTE_HOST=

ENABLE_REQUEST_LOGGING=true