IS_GCLOUD=false
RUNTIME_ENV=local
PORT=8101
REDIS_CONNECTION_STRING="redis://@localhost:6379/0"
POSTGRES_CONNECTION_STRING="postgres://postgres:123456@localhost:5432/bombcrypto"
QUEUE_TIME_OUT=30000
CURRENT_PVP_SEASON=4

LOG_NAME=
LOG_REMOTE_HOST=