SERVER_ID="sv-game-1"
SALT=
# local, test, prod
APP_STAGE=local
GKE=0
IS_TOURNAMENT_GAME_SERVER=false
IS_GAME_SERVER=1
IS_PVP_SERVER=0
IS_TON_SERVER=1
IS_SOL_SERVER=1
IS_RON_SERVER=1
IS_BAS_SERVER=1
IS_BNB_SERVER=1
IS_VIC_SERVER=1

# DEBUG, INFO, WARN, ERROR
LOG_LEVEL_DEFAULT=DEBUG
LOG_ALL=false
LOG_PVP=false
LOG_DB=false
LOG_HANDLER=true
LOG_REMOTE_HOST=
LOG_HTTP_REQUEST=true

PVP_RANK_UPDATE_SECONDS=60

AP_SIGNATURE_TOKEN="your_ap_signature_token"
AP_LOGIN_TOKEN="your_ap_login_token"
SUBSCRIPTION_PACKAGE_NAME=""

AP_PVP_MATCHING="http://ap-pvp-matching"
AP_SIGNATURE="http://ap-signature"
AP_BLOCKCHAIN="http://ap-blockchain"
AP_LOGIN="http://ap-login"
AP_MARKET="http://ap-market"
AP_REFERRAL="http://ap-referral"
AP_MONETIZATION="http://ap-monetization"

REDIS_CONNECTION_STRING="redis://localhost:6379"

POSTGRES_CONNECTION_STRING="jdbc:postgresql://localhost:5432/bombcrypto?useUnicode=yes.connectionString=characterEncoding=utf8.connectionString=zeroDateTimeBehavior=convertToNull"
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=123456
POSTGRES_MAX_ACTIVE_CONNECTIONS=5

SCHEDULER_THREAD_SIZE=5
USE_STREAM_LISTENER="true"

SAVE_CLIENT_LOG_PATH=

HASH_ID_KEY="0123456789abcdefghijklmnopqrstuvwxyz_,0,0"