IS_GCLOUD=false
IS_PROD=false
PORT=8120
LOG_NAME=
LOG_REMOTE_HOST=

REDIS_CONNECTION_STRING="redis://@localhost:6379/0"
POSTGRES_CONNECTION_STRING_BACKEND="postgres://postgres:123456@localhost:5432/backend"
POSTGRES_CONNECTION_STRING_BOMBCRYPTO="postgres://postgres:123456@localhost:5432/bombcrypto2"
ALLOWED_DOMAINS=""
TELEGRAM_BOT_TOKEN=","

# use for login_token
JWT_LOGIN_SECRET="your_client_login_token"

# use for Smartfox server's Bearer
JWT_BEARER_SECRET="your_server_login_token"
SYNC_BANNED_LIST=false
VERSION_WEB=1
VERSION_SOL=1

TON_SERVER_MAINTENANCE=false
SOL_SERVER_MAINTENANCE=false
WEB_SERVER_MAINTENANCE=false

MAIL_SENDER=
MAIL_PASSWORD=
RESET_PASSWORD_LINK="http://localhost:3000/account/forgot/change?token="
RESET_TOKEN_EXPIRE=3600

ENABLE_REQUEST_LOGGING=false

AES_SECRET=""
GAME_SIGN_PADDING=""
DAPP_SIGN_PADDING=""
OBFUSCATE_BYTES_APPEND=
RSA_DELIMITER=