IS_GCLOUD=false
IS_PROD=true
PORT=8103
DEFAULT_NETWORK=BSC
PRIVATE_KEY=
JWT_SECRET=your_jwt_secret
JWT_PAYLOAD_KEY=your_jwt_payload_key
BLOCKCHAIN_CENTER_API=http://localhost:8107
REDIS_CONNECTION_STRING=redis://localhost:6379
LOG_NAME=
LOG_REMOTE_HOST=
ENABLE_REQUEST_LOGGING=false
